fastapi
uvicorn
python-multipart
celery
redis
sqlalchemy
psycopg2-binary
minio
python-jose
passlib
flower
pydantic-settings>=2.0.0
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
python-multipart
